<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatiable" content="IE=edge" />
    <meta name="viewport" content="width=device-width , initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('reg_test.static', filename='css/style.css') }}"
    />
    {% block css %}{% endblock %}

    <!--<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script> -->
    <script src="{{url_for('reg_test.static', filename='js/apexcharts.js')}}"></script>
    <title>{% block title %} LRS Productivety Dashboard {% endblock %} </title> 
    
  </head>

  <body>
    <div class="hide-top"></div>
    <div class="navbar">
      <div class="top-button">
        <i class="bx bx-menu" id="btn"></i>
      </div>

      

      <div class="logo">
        <img class="myImg_dark" src="{{url_for('reg_test.static', filename='img/Intel_logo_dark.png')}}" />
        <img class="myImg_white" src="{{url_for('reg_test.static', filename='img/Intel_logo_white.png')}}"/>
        <span class="logo_name">Litho Production Dashboard</span>
      </div>

      <div class="ThemeBtn-container">
        <i class="bx bx-moon" id="theme-btn"></i>
      </div>
    </div>

    <div class="sidebar">
      <ul class="nav-links">
        <li>
          <a class="used_link {% if 'LFU' in page_name %} active-link {% endif %}"  href ="{{ url_for('reg_test.LFU_Report') }}">
            <i class="bx bx-grid-alt"> </i>
            <span class="link_name">LFU Report</span>
          </a>
          <ul class="sub-menu blank">
            <li>
              <a class="link_name" href="#">LFU Report</a>
            </li>
          </ul>
        </li>

        <!--<li class="{% if page_name in sub_menu_apps %} showMenu {% endif %}"> -->
        <li>
          <div class="icon-links">
            <a href="#" class="link-with-submenu">
              <i class="bx bx-collection"> </i>
              <span class="link_name">Production Reports</span>
              <i class="bx bxs-chevron-right arrow"></i>
            </a>

          </div>
          
          <ul class="sub-menu">
            <div class="frame">
              <li><a class="link_name" href="#">Production Reports</a></li>
              <li><a class="used_link {% if 'Fleet_Overview' in page_name %} active-link {% endif %}"  href ="{{ url_for('reg_test.Fleet_Overview') }}">Fleet Overview</a></li>
              <li><a class="used_link {% if 'Entity_Breakdown' in page_name %} active-link {% endif %}"  href ="{{ url_for('reg_test.Entity_Breakdown') }}">Entity Breakdown</a></li>
              <li><a class="used_link {% if 'Entity_Statistics' in page_name %} active-link {% endif %}"  href ="{{ url_for('reg_test.Entity_Statistics') }}">Entity Statistics</a></li>
              <li><a class="used_link {% if 'Weekly_Breakdown' in page_name %} active-link {% endif %}"  href ="{{ url_for('reg_test.Weekly_Breakdown') }}">Weekly Breakdown</a></li>
              <li><a class="used_link {% if 'Wafer_Swap' in page_name %} active-link {% endif %}"  href ="{{ url_for('reg_test.Wafer_Swap_Time') }}">Wafer Swap Time</a></li>

            </div>
          </ul>
        </li>

        <li>
          <a class="used_link {% if 'SAU' in page_name %} active-link {% endif %}" href ="{{ url_for('reg_test.SAU_Tactic_Dispatch') }}">
            <i class="bx bx-line-chart"></i>
            <span class="link_name">SAU Tactic Dispatch</span>
          </a>
          <ul class="sub-menu blank">
            <li>
              <a class="used_link link_name" href="#">SAU Tactic Dispatch</a>
            </li>
          </ul>
        </li>

        <li>
          <a class="used_link {% if '193BE' in page_name %} active-link {% endif %}" href ="{{ url_for('reg_test.Tactic_Dispatch_193BE') }}">
            <i class="bx bx-stats"></i>
            <span class="link_name">193BE Tactic Dispatch</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">193BE Tactic Dispatch</a></li>
          </ul>
        </li>

        <li>
          <a class="used_link {% if 'Reg' in page_name %} active-link {% endif %}" href ="{{ url_for('reg_test.Reg_Tactic_Dispatch') }}">
            <i class="bx bxl-graphql"></i>
            <span class="link_name">Reg Tactic Dispatch</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Reg Tactic Dispatch</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <section class="home-section">
      {% block content %} 
      {% block header %}{% endblock %}
      {% endblock %}</section>

    
    <!--<script src="{{url_for('reg_test.static', filename='js/content_scripts.js')}}"></script>-->
    <script src="{{url_for('reg_test.static', filename='js/base_functions.js')}}"></script>
    {% block javascripts %}{% endblock javascripts %}

  </body>
</html>
